#login {
    background: linear-gradient(120deg, #E16E0E 44.9%,#ffffff 45%) no-repeat fixed;
}
#app {
    background: linear-gradient(120deg, #ffffff 44.9%,#E16E0E 45%) no-repeat fixed;


}

.text-login {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}

.primary-color{
    color: #4c79d3;
}
.secondary-color{
    color: #4e0070;
}

.terciary-color{
    color: #000;
}
.coins {

    position: absolute;
    bottom: 100px;
}

.button-login {

    background-color: #4e0070;
    border-color: #4e0070;
    width: 50%;
    color:#ffffff;
    margin: 0 25%;
    border-radius: 10px;   

}
.button-login:hover {

    background:#AF7AC5 ;
    color:#ffffff;
    border-color: #AF7AC5;
    margin: 0 25%;
    border-radius: 10px;   

}

.link-default {
color: #4e0070;
cursor: pointer;
}
.link-default:hover {
    color: #AF7AC5;
    cursor: pointer;
    }
    
header{
    border-bottom: 1px solid #bebcbc;
    padding: 5px;
    background-color: #ffffff;
}
.icon-detail{
    font-size: 50px;
    margin-right: 10px;
    vertical-align: middle;
}
.logo-navbar{
    border-color: #ffffff;
    background: #ffffff;
    border: 0px;
}
.navbar-icon-menu{
    vertical-align: baseline;;
}

.info{
    background-color: #ffffff;
    border-radius: 20px 20px 0px 0px;
    padding: 20px 0px 0px 0px;

}
.button-default{
    border-radius: 5px;
    border: 1px solid #000;
    background-color:#4e0070;
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding: 5;
    margin-top: 1px;
}

.button-default:hover{
    border-radius: 10px;
    background-color:#AF7AC5;
    color: #ffffff;
    border: 1px solid #AF7AC5;
}
.button-float{
    border-radius: 100%;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    font-size: 35px;
    background-color:#4e0070;
    color:#ffffff;
    border: 1px solid;
    border-color: #000;
    padding: 0 !important;
}
.button-float:hover{
    background-color:#AF7AC5;
    color:#ffffff;
    border: 1px solid #4e0070;
    
}
.button-default1{
    border-radius: 5px;
    border: 1px solid #000;
    background-color:#bebcbc;
    color: #ffffff;
    text-align: center;
    padding: 5;
    margin-top: 1px;
}

.button-default1:hover{
    border-radius: 5px;
    background-color:#85929E;
    color: #ffffff;
    border: 1px solid #85929E;
}

.logout {
    min-width: 5rem !important;


}
.botton-vertodas{
    margin: 0px 0px 0px 100px;


    
}